{% extends "base.html" %}
{% block title %}
<h1>Quiz</h1>
{% endblock %}
{% block content %}
<h3>{{ question_single.question_number }}</h3>
<p>{{ question_single.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single.answer_a }}<br>
{{ question_single.answer_b }}<br>
{{ question_single.answer_c }}<br>
{{ question_single.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form.as_p }}
{% csrf_token %}

<br>
<br>

<h3>{{ question_single_2.question_number }}</h3>
<p>{{ question_single_2.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single_2.answer_a }}<br>
{{ question_single_2.answer_b }}<br>
{{ question_single_2.answer_c }}<br>
{{ question_single_2.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form_1.as_p }}
{% csrf_token %}

<br>
<br>

<h3>{{ question_single_3.question_number }}</h3>
<p>{{ question_single_3.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single_3.answer_a }}<br>
{{ question_single_3.answer_b }}<br>
{{ question_single_3.answer_c }}<br>
{{ question_single_3.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form_2.as_p }}
{% csrf_token %}

<br>
<br>

<h3>{{ question_single_4.question_number }}</h3>
<p>{{ question_single_4.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single_4.answer_a }}<br>
{{ question_single_4.answer_b }}<br>
{{ question_single_4.answer_c }}<br>
{{ question_single_4.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form_3.as_p }}
{% csrf_token %}

<br>
<br>

<h3>{{ question_single_5.question_number }}</h3>
<p>{{ question_single_5.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single_5.answer_a }}<br>
{{ question_single_5.answer_b }}<br>
{{ question_single_5.answer_c }}<br>
{{ question_single_5.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form_4.as_p }}
{% csrf_token %}

<br>
<br>

<h3>{{ question_single_6.question_number }}</h3>
<p>{{ question_single_6.question_text }}<br><br>
Choice answer:</p>
<p>{{ question_single_6.answer_a }}<br>
{{ question_single_6.answer_b }}<br>
{{ question_single_6.answer_c }}<br>
{{ question_single_6.answer_d }}</p><br>
<form action="." method="post">
{{ answer_form_5.as_p }}
{% csrf_token %}
<br>
<p><input type="submit" value="Send your answers!"></p>
</form>
<a href="{% url "logout" %}">Logout</a>
</p>
{% endblock %}